#main-page, #game-page {
    text-align: center;
    margin: 50px auto;
    display: none;
}

#game-board {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.game-square {
    border: 2px solid #000;
}

.game-square img {
    width: 100%;
    height: 100%;
}

#current-image {
    margin: 20px auto;
}

button {
    margin: 10px;
}
